<html>
<head>
  <title>React.js server-side rendering sample</title>
</head>
<body>
  <div id="app">{{{markup}}}</div>
  <script id="initial-data" type="text/plain" data-json="{{initialData}}"></script>
  <script src="/bundle.js"></script>
</body>
</html>
